@{
    ViewData["Title"] = "Badges";
}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Badges</title>
</head>
<html>

<body>
    <div class="jumbotron-fluid" align="center">
        <h1 class="display-1">
            <b>
                <u>Badge Criteria</u>
            </b>
        </h1>

        <div class="container-fluid" style="text-align: center; padding-top: 100px;">
            <h3 class="display-3">Level 1 : Giver</h3>
            <li class="lead">5 Hours or Less</li>
            <h3 class="display-3">Level 2 : Supporter</h3>
            <li class="lead">10 Hours or Less</li>
            <h3 class="display-3">Level 3 : Believer</h3>
            <li class="lead">20 Hours or Less</li>
            <h3 class="display-3">Level 4 : Devoted</h3>
            <li class="lead">50 Hours or Less</li>
        </div>
    </div>
</body>
</html>