
@{
    ViewData["Title"] = "Contact";
}


<!DOCTYPE html>
<html>
<body>
    <!--Top-->
    <div class="jumbotron" align="center">
        <h1 class="display-4">How to contact us</h1>
        <hr class="top line">
        <p class="lead">Here at 4ALL we hope and strive to provide perfect customer service to all. If you or your organization are unsatisfied or encounter any issues, please contact us in the following ways for us to assist and fix any issues.</p>
        <a class="lead" href="contact"><h4 class="display-10">4ALL.life.demo@email.com</h4></a>
        <h4 class="display-10">Phone: (123) 456-7891</h4>
        <h4 class="display-10">Mail: 777 Main St. San Diego Ca, 92123</h4>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <form>
                        <hr class="bottom line">
                        <div class="form-group">
                            <h4 class="display-10">
                                <label for="comments">
                                    Submit Comments:
                                </label>
                            </h4>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <a class="btn btn-outline-primary btn-lg" href="###" role="button">Submit</a>
                    </form>
                </div>
            </div>
</body>
</html>