
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
    <body>

        <!--Top-->
        <div class="jumbotron jumbotron-fluid" ">
            <div class="container-fluid" align="center" style="height: auto; width: auto; background-color: #bbeef2">
                <h1 class="display-1">4ALL</h1>
            </div>
        </div>
        <!--Top-->
        <!--Bottom with pic-->
        <div style="text-align: center;">
            <img src="https://gt20.org/wp-content/uploads/2016/09/volunteer.png" class="img-fluid" alt="base pic" align="middle" style="width: auto; height: auto; backface-visibility: inherit">
            <blockquote class="blockquote text-center">
                <p class="mb-0">“The best way to find yourself is to lose yourself in the service of others.”</p>
                <cite title="Source Title">— Mahatma Gandhi</cite>
            </blockquote>
        </div>
        <!--Bottom with pic-->
    </body>
</html>



