
@{
    ViewData["Title"] = "Mailbox";
}

<!DOCTYPE html>
<html>
    
        <h1 class="default-1" align="middle">Mailbox</h1>


        <div class="card" style="max-width: 15rem;">
            <img class="card-img-top" src="https://hosting.med.upenn.edu/berger/wp-content/uploads/sites/39/2017/07/Blank-Profile-Icon.jpg">
            <div class="card-body" style="width: 10rem; text-align: center;">
                <p>JohnDoe95</p>
                <p>San Diego, California</p>
                <p">
                    Giver</p>
                    <a class="nav-link text-dark" type="submit" asp-area="" asp-controller="Home" asp-action="ProfileView" role="button">Profile</a>
            </div>
        </div>

    
    </body>
</html>
