@{
    ViewData["Title"] = "ProfileView";
}

<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="~/css/Profile.css">

<body>
    <!--User info-->
    <div class="row-fluid" style="background-color: #0a0a0a">
        <div class="card-fluid" style="height: auto;width: auto; text-align: center;">
            <img src="https://hosting.med.upenn.edu/berger/wp-content/uploads/sites/39/2017/07/Blank-Profile-Icon.jpg" class="rounded-circle" style="height: auto;width: auto; padding-top: 10px">
            <div class="card-body">
                <h1 style="color: white">JohnDoe95</h1>
                <h2 style="color: white">San Diego, California</h2>
                <h3 style="color: white">Level 2</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                        30% until Level 3
                    </div>
                </div>
                <div class="lead" style="color: white">
                    <h1>
                        Current Badge :
                        <a type="text/plain" asp-area="Views" asp-controller="Home" asp-action="Badges">Giver</a>
                    </h1>

                    <div class="row">
                    </div>
                </div>
            </div>

            <!-- Search form -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <li class="navbar-brand" href="#"><b>Menu</b></li>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" type="text/plain" asp-area="Views" asp-controller="Home" asp-action="Mailbox" role="button">Mailbox</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Settings
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Theme</a>
                                <a class="dropdown-item" href="#">Location</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" type="text/plain" asp-area="Views" asp-controller="Home" asp-action="HomePage" role="button">Sign Out</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-lg-8" style="width: 500px; pa" type="search" placeholder="Search Friends, Family, and Organizations..." aria-label="Search">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>

            <!--Feeds-->
            <div class="flex-container" style="justify-content: center; height: auto: width: auto; overflow: auto; max-height: 100vh">
                <div class="personalBox">
                    <h1 style="vertical-align: text-top;"><u>Personal Feed</u></h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nec tincidunt praesent semper feugiat nibh sed pulvinar proin gravida. Egestas sed tempus urna et. Tellus pellentesque eu tincidunt tortor. Libero enim sed faucibus turpis in eu mi bibendum. Sit amet venenatis urna cursus eget nunc scelerisque. Amet nulla facilisi morbi tempus. Fames ac turpis egestas sed tempus urna et. Diam maecenas sed enim ut. Varius quam quisque id diam vel quam elementum pulvinar. Donec enim diam vulputate ut pharetra. Ut lectus arcu bibendum at varius vel. Viverra nibh cras pulvinar mattis nunc sed. Sit amet justo donec enim diam vulputate. Dis parturient montes nascetur ridiculus mus mauris vitae. Vehicula ipsum a arcu cursus vitae congue mauris rhoncus. Condimentum vitae sapien pellentesque habitant morbi.

                        Lacinia quis vel eros donec ac odio tempor orci dapibus. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci. Sed elementum tempus egestas sed. At erat pellentesque adipiscing commodo elit. Dapibus ultrices in iaculis nunc sed augue lacus viverra vitae. Diam phasellus vestibulum lorem sed risus. Commodo viverra maecenas accumsan lacus vel facilisis volutpat est. Sem fringilla ut morbi tincidunt augue interdum velit euismod. Rhoncus aenean vel elit scelerisque mauris. Sit amet tellus cras adipiscing. Et pharetra pharetra massa massa ultricies mi. Purus ut faucibus pulvinar elementum. Tincidunt praesent semper feugiat nibh sed pulvinar proin. In nisl nisi scelerisque eu ultrices vitae auctor eu. Sed enim ut sem viverra aliquet eget. Natoque penatibus et magnis dis parturient montes nascetur ridiculus mus.

                        Elementum nisi quis eleifend quam. Laoreet id donec ultrices tincidunt arcu non. Tincidunt tortor aliquam nulla facilisi cras fermentum odio eu feugiat. Habitant morbi tristique senectus et netus et malesuada. Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Sed faucibus turpis in eu mi bibendum neque egestas. Feugiat in fermentum posuere urna nec tincidunt praesent semper. Et odio pellentesque diam volutpat commodo. Massa tincidunt nunc pulvinar sapien et ligula. Gravida in fermentum et sollicitudin ac orci phasellus egestas tellus. Malesuada fames ac turpis egestas maecenas pharetra convallis posuere morbi. Ut consequat semper viverra nam libero justo. Vitae turpis massa sed elementum tempus egestas sed.
                    </p>
                </div>

                <div class="futureBox">
                    <h1 style="vertical-align: text-top;"><u>Future Opportunities</u></h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nec tincidunt praesent semper feugiat nibh sed pulvinar proin gravida. Egestas sed tempus urna et. Tellus pellentesque eu tincidunt tortor. Libero enim sed faucibus turpis in eu mi bibendum. Sit amet venenatis urna cursus eget nunc scelerisque. Amet nulla facilisi morbi tempus. Fames ac turpis egestas sed tempus urna et. Diam maecenas sed enim ut. Varius quam quisque id diam vel quam elementum pulvinar. Donec enim diam vulputate ut pharetra. Ut lectus arcu bibendum at varius vel. Viverra nibh cras pulvinar mattis nunc sed. Sit amet justo donec enim diam vulputate. Dis parturient montes nascetur ridiculus mus mauris vitae. Vehicula ipsum a arcu cursus vitae congue mauris rhoncus. Condimentum vitae sapien pellentesque habitant morbi.

                        Lacinia quis vel eros donec ac odio tempor orci dapibus. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci. Sed elementum tempus egestas sed. At erat pellentesque adipiscing commodo elit. Dapibus ultrices in iaculis nunc sed augue lacus viverra vitae. Diam phasellus vestibulum lorem sed risus. Commodo viverra maecenas accumsan lacus vel facilisis volutpat est. Sem fringilla ut morbi tincidunt augue interdum velit euismod. Rhoncus aenean vel elit scelerisque mauris. Sit amet tellus cras adipiscing. Et pharetra pharetra massa massa ultricies mi. Purus ut faucibus pulvinar elementum. Tincidunt praesent semper feugiat nibh sed pulvinar proin. In nisl nisi scelerisque eu ultrices vitae auctor eu. Sed enim ut sem viverra aliquet eget. Natoque penatibus et magnis dis parturient montes nascetur ridiculus mus.

                        Elementum nisi quis eleifend quam. Laoreet id donec ultrices tincidunt arcu non. Tincidunt tortor aliquam nulla facilisi cras fermentum odio eu feugiat. Habitant morbi tristique senectus et netus et malesuada. Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Sed faucibus turpis in eu mi bibendum neque egestas. Feugiat in fermentum posuere urna nec tincidunt praesent semper. Et odio pellentesque diam volutpat commodo. Massa tincidunt nunc pulvinar sapien et ligula. Gravida in fermentum et sollicitudin ac orci phasellus egestas tellus. Malesuada fames ac turpis egestas maecenas pharetra convallis posuere morbi. Ut consequat semper viverra nam libero justo. Vitae turpis massa sed elementum tempus egestas sed.
                    </p>
                </div>
            </div>
        </div>
</body>
</html>